body{
    background-color: grey;
}
.container{
    position:relative;
    .links{
        position:relative;
        text-align: right;
        margin-right: 5px;
    }

    h1{
        position:relative;
        text-align: center;
        font-size: 50px;
        margin-top: 250px;
    }

    table{
        margin-top: 200px;
        border-spacing: 10px;
        tr{
            td{
                margin:10px;
            }
        }
    }


    .search_bar{
        text-align: center;
        margin-top:50px;
        input[type="text"]{
            width: 500px;
            height:30px;
            border: 1px black;
            border-style: solid;
            border-radius: 30px;
            padding-left:15px;
            padding-right:15px;
            margin-bottom:10px
        }

        input[type="submit"]{
            width: 100px;
            height:20px;
            border: 1px rgb(0, 0, 0);
            border-style: solid;
            border-radius: 30px;
            margin:10px;
        }
        


    }

}